// main box
.container {
	max-width: 100vw;
	height: 100%;
	background: #e7ecf1;

	// border-radius: 25px;

	display: grid;
	place-items: center;
	margin: 0 auto;
	padding: 0 0 0 0;
	color: #728599;
}

.title {
	font-size: 4rem;
	margin: 10px 0;
	color: #799aaa;
	letter-spacing: 0.3rem;
	text-shadow: 2px 3px 1px #65889934;
}
// boxes
.box {
	background-color: $box-color;
	border-radius: $box-border;
	width: $box-width;
	margin-bottom: 3rem;
	padding: 15px 0;
	box-shadow: inset 0px 3px 3px 0px rgba($color: #5e5e5e, $alpha: 0.4);
	// @include flex-col;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
}
// upper box
.tip {
	margin-bottom: 3rem;
}
.bill-amount {
	@include flex-row;
	justify-content: space-between;
	margin-bottom: 2rem;

	::placeholder {
		color: rgb(95, 95, 95);
		font-style: italic;
		font-family: "Roboto", sans-serif;
	}
}
#bill-amt {
	outline-color: #778ca3;
	padding: 8px;
	background: #f0f0f0;
	width: 80%;
	box-shadow: inset 0px 2px 3px 0px rgba($color: #5e5e5e, $alpha: 0.2);
	border-radius: 5px;
	border: 1px solid lightgray;

	font-size: 1.6rem;
	font-weight: 300;
	color: rgb(70, 69, 69);
	font-family: "Roboto", sans-serif;
	letter-spacing: 1.2px;
}
.bill-amtc {
	margin-right: 2rem;
}

// TIP SLIDER

.tip-space {
	margin-bottom: 1rem;
}

#tip-slider {
	width: 100%;
	margin-bottom: 4rem;
}
// REMOVE DEFAULT STYLING
input[type="range"] {
	appearance: none;
}
// ADD CUSTOM TRACK & THUMB STYLING
input[type="range"] {
	-webkit-appearance: none;
	&:focus {
		outline: none;
	}
	&::-webkit-slider-runnable-track {
		height: 1px;
		cursor: pointer;
		box-shadow: none;
		background: #bbbbbb;
		border-radius: 0px;
		// border: 0px solid #010101;
	}
	&::-moz-range-track {
		height: 1px;
		cursor: pointer;
		box-shadow: none;
		background: #aaaaaa;
		border-radius: 0px;
		border: 0px solid #010101;
	}
	&::-moz-range-thumb {
		box-shadow: none;
		border: 0px solid #ffffff;
		box-shadow: 0px 4px 7px rgba(51, 51, 51, 0.308);
		height: 32px;
		width: 22px;
		border-radius: 22px;
		background: rgb(92, 92, 92);
		cursor: pointer;
		-webkit-appearance: none;
		margin-top: -16px;
	}
	&::-webkit-slider-thumb {
		box-shadow: none;
		border: 0px solid #ffffff;
		box-shadow: 0px 4px 7px rgba(51, 51, 51, 0.308);
		height: 32px;
		width: 22px;
		border-radius: 22px;
		background: #4b6584;
		cursor: pointer;
		-webkit-appearance: none;
		margin-top: -16px;
	}
}

// bottom box
#split-slider {
	width: 100%;
	margin-bottom: 4rem;
}

// **MEDIA QUERIES**

@media screen and (min-width: 375px) {
	.title {
		font-size: 8rem;
		margin: 1px 0;
	}
}
@media screen and (min-width: 768px) {
	.title {
		font-size: 10rem;
		margin: 1px 0;
	}
}
@media screen and (min-width: 1024px) {
	.container {
		display: flex;
		@include flex-col;
	}
	.box {
		margin-bottom: 6rem;
	}
	.title {
		font-size: 10rem;
		margin-bottom: 6rem;
	}
}
@media screen and (min-width: 3840px) {
	.title {
		margin-bottom: 6rem;
	}
	.box {
		width: 30vw;
	}
}
